.btn-action {
    width: 28px;
    height: 28px;
    padding: 1px 6px;
}

.btnActionContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnOrderActions {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.btnOrderActions > span {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.btnOrderActions > button, .btnOrderActions > span  > button {
    margin: 2px 0;
}

.reportrange {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.report-image {
    cursor: pointer;
}
