
p, h1, h2, h3, h4, h5, h6, body  {
	font-family:"Century Gothic", sans-serif !important;
}


/*SITE WIDE*/
p, ol {
    line-height: 1.6;
    color:#5a5454;
}
a:focus {
    text-decoration: none;
}
.custom-separator {
	background-image: linear-gradient(to right top, #001143, #02174f, #051c5c, #08226a, #0d2877);
}
.jl-float-center {
	display:flex;
	justify-content:center;
}


.no-margin {
	margin:0px;
}

.icon-width {
	width:40px;
}

i.fa.fa-lock {
    font-size: 17px;
}
div.login-form.custom-loginform > form > div {
    margin-bottom: 10px;
}

.jl-button {
	background-color:#f6960d !important;
	padding:10px 55px !important;
	color:#fff;
	border-radius:3px !important;
	box-shadow:2px 2px 2px #707070;
	transition:0.2s;
}
button.jl-button:hover {
	background-color:#ffa92e !important;
	transition:0.2s;
	color:#fff;
	box-shadow:2px 2px 2px #707070;
}
.header-middle {
	background: linear-gradient(to right, rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../images/frontend/texture-header.png);
}

.header-middle .container .row {
    border-bottom: 0px;
}

div.list-group > a {
    background-color: #0d2877;
    color: #ffffff;
}
div.list-group > a:hover {
	background-color: #0d2877;
    color: #f6960d;
    transition:0.2s;
    padding-left:25px;
}
.list-group-item {
	border: 0px;
	border-bottom: 1px solid #00185e;
    margin-bottom: 0px;
}
.left-sidebar {
-webkit-box-shadow: 0px 18px 18px -16px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 18px 18px -16px rgba(0,0,0,0.75);
box-shadow: 0px 18px 18px -16px rgba(0,0,0,0.75);
}

.bg-texture {
background: url(../../images/frontend/texture-body.png);
background-color:#fff;
}

.list-group {
    margin-bottom: 0px;
}

table#resultTable button a {
    color: #fff;
    font-family: Arial;
    margin-left: -10px;
}

.jl-margin {
	margin-top:30px;
	margin-bottom:30px;
}
/*END OF SITEWIDE*/

/*home page*/
/*div.box-products > div > div {
padding:20px 5px;
}*/

.product-container {
	border: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0px 5px 5px 0px;
    margin-bottom: 20px;
    padding-right: 15px;
/*-webkit-box-shadow: 0px 14px 18px -16px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 14px 18px -16px rgba(0,0,0,0.75);
box-shadow: 0px 14px 18px -16px rgba(0,0,0,0.75);*/
}

.jl-tbl-width .text-right{
width:150px;
}

.jl-success {
	display:none;
}

div.box-products > div > div > div{
border-radius: 3px;
height:350px;
display:flex;
align-items:center;
justify-content: center;

}

div.box-products > div > div > div.main-cat{
padding-left:0px;
height:392px;
border:1px solid #ccc;
border-radius: 5px 0px 0px 5px;
border-right:0px;
background-image: linear-gradient(to right bottom, #0d2877, #0a2471, #06206a, #031c64, #00185e);
}

div.box-products > div > div > div.main-cat a {
    color:#fff;
    transition: 0.2s;
}
div.box-products > div > div > div.main-cat a:hover {
    color:#f6960d;
    transition: 0.2s;
    background-color:#0d2877;
}

@media screen and (max-width: 768px){
div.box-products > div > div > div.main-cat{
border-right:1px;
}
}

/*.product-container > div.col-md-4 {
    padding-left: 5px;
    padding-right: 15px;
}
*/
div.box-products > div > div > div > a {
font-size: 25px;
width:100%;
height:100%;
display:flex;
justify-content: center;
align-items: center;
font-weight: bold;
}

div.container.box-products > div.row > div.col-sm-3 {
    padding-right: 0px;
}

/*sets retrieved product in search "centered" */
.features_items.searched-content {
    display: flex;
    justify-content: center;
}

.product-image-wrapper {
    border: 1px solid #ededed;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

/*ADD TO CART BUTTON CSS*/
.add-to-cart {
    background: #f6960d;
    color: #FFFFFF;
}

.add-to-cart:hover {
    background: #0d2877;
}


.box-products{

}
.main-cat{

}

.main-prod{

}

div.container.box-products img {
	object-fit: cover;
	width: 100%;
}

@media screen and (max-width: 768px){
div.container.box-products img {
	object-fit: cover;
	width: 95%;
}
}

.home-header {
	text-align:center;
	margin:30px 0px 10px 0px;
	font-size:40px;
	color: #0d2877;
}
/*products on home*/
.product-container > .col-md-4:nth-child(even) {
    background-color: #f5f5f5;
}
.product-container > .col-md-4:nth-child(odd) {
    background-color: #f9f9f9;
}
.product-container {
    background-color: #fff;
}

/*end of home page*/

/*PRODUCTS*/
.view-product img {
	object-fit: cover;
}

.add-to-cart {
	margin-bottom:0px;
}

/*default product container*/
.productinfo img {
    width: 100%;
    object-fit: cover;
}
/*margin of header on searched item*/
div.features_items > h2.title.text-center {
    margin: 20px 15px;
}

/*END OF PRODUCTS*/

/*PRODUCT DETAILS PAGE*/
section.sw-margin {
    margin-top: 50px;
    margin-bottom: 20px;
}
section.sw-margin a#add-to-cart {
    margin-bottom: 20px;
}
section.sw-margin h2.product {
    margin-bottom: 0px;
}

section.sw-margin .product-information span {
    margin-bottom: 8px;
    margin-top: 8px;
}
section.sw-margin .product-information {
    border: 1px solid #ccc;
    padding-top: 65px;
    padding-bottom: 67px;
}

section.sw-margin div.product-details > div {
    padding-left: 0px;
    padding-right: 0px;
}

.view-product img {
    border: 0px;
}

/* END OF PRODUCT DETAILS PAGE*/

/*category page*/
section.cp-margin {
    margin-top: 50px;
    margin-bottom: 20px;
}
section.cp-margin div.features_items > h2.title.text-center {
	margin: 0px;
}
/*end of category page*/

/*admin category*/
.jl-title {
	color:#FE980F;
}

/*thead*/
.bg-primary {
	background-color:#0d2877;
}
/*end of admin category*/


/*terms page*/
div#id-terms > ol > li {
    margin-bottom: 20px;
    max-width: 960px;
}
div#id-terms > ol > li:last-child {
    margin-bottom: 0px;
}
div#id-terms{
	display:flex;
	justify-content:center;
}
div#id-terms > ol {
	margin-bottom:0px;
}
/*end of terms page*/

/*FAQs*/
/*accordion + location*/
div#accordion1 > div > div > h3 > a > i {
    float: right;
}

div#id-faqs > div#accordion1 div.panel-default {
    padding-top: 20px;
    padding-bottom:5px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
}
div#id-faqs > div#accordion1 div.panel-default > div.panel-heading{
	padding-bottom:5px;
	background-color:transparent;
}

/*.collapsed:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}*/
/*accordion*/
h3.panel-title {
    transition: 0.2s;
}
h3.panel-title:hover, h3.panel-title:active {
    padding-left: 15px;
    transition: 0.2s;
}
/*End of FAQs*/



/*CONTACT US*/
div#id-contact{
	 color:#f9f9f9;
}
div#id-contact > div > div > i {
    font-size: 50px;
}
div#id-contact > div > div {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom:20px;
}
div#id-contact > div > div > i {
    color: #f6960d;
    text-shadow: 1px 2px #000;
}
div#id-contact iframe {
    background: url(../images/home/map-placeholder.jpg) center center no-repeat;
    background-size: cover;
}
div#id-contact > div {
    padding: 70px 10px 60px 10px;
}
div#id-contact > div > h3 {
    text-align: center;
}
/*END OF CONTACT US*/


/*LOG IN*/
.custom-loginform {
	border:1px solid #ccc;
	border-radius:3px;
	padding:40px 20px;
	margin-bottom:20px;
-webkit-box-shadow: 0px 13px 5px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 5px -10px rgba(0,0,0,0.75);
box-shadow: 0px 13px 5px -10px rgba(0,0,0,0.75);
background-color:#f9f9f9;
}
.custom-loginform h2{
	text-align:center;
}

.container-fluid.custom-separator div.row.jl-float-center {
    padding: 60px 10px 50px 10px;
}

div.login-form.custom-loginform > form > div > input {
    border: 1px solid #ccc;
}

/*end of LOG IN*/


.default-margin{
margin:60px 10px;
}
.default-padding {
padding:60px 50px;
}

.header-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.header-bottom.navbar.navbar-inverse > div > div > div.col-sm-9 a {
    padding-top: 10px;
}

/*HEADER LOGO DETAILS*/
/*div.header-middle > div > div > div > div.logo {
    display: flex;
    justify-content: center;
}*/

.jl-logo {
    max-width:150px;
}

div.logo > a {
    width:auto;
}
/*END OF HEADER LOGO DETAILS*/


input[type="text"] {
     font-family: "Roboto", sans-serif;
}

div.header-bottom.navbar.navbar-inverse .search_box.pull-right {
    padding-top: 3px;
}

.footer-bottom p span a {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
}

/*FOOTER BOTTOM COLOR*/
.footer-bottom {
    background: #333;
    padding: 20px 5px;
}

.footer-bottom p.jl-footer-text{
	color:#aaa;
	margin-bottom:0px;
}


/*HEADER NAV*/
div.header-bottom.navbar.navbar-inverse {
    background-color: #0d2877;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f9f9f9;
    padding-top:10px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #f6960d;
}

ul.sub-menu {
	padding-top:20px;
    background: rgba(13, 40, 119, 0.8);
}

div.admin-navbar a > span, div.admin-navbar a > span:hover {
    color: #f6960d;
}

/*CAROUSEL*/

div.carousel-inner > div.item, div.carousel-inner > div.item.active{
	padding-left: 0px;
}

div.header-bottom.navbar.navbar-inverse {
    margin-bottom: 0px;
}

/*for searchbox width*/
div.search_box.pull-right > form > input {
    width: 200px;
    border-radius:3px;
    box-shadow:2px 2px 5px #000;
}

/*about us hero image*/
.bgimage {
  width:100%;
  height:500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0px 10px;
  text-align:center;
}
.bgimage h2{
	font-size:50px;
  color:white;
  text-shadow:2px 2px 2px #000;
}

.bg-imageURL-about{
	background:  linear-gradient(rgba(22,22,22,0.49), rgba(22,22,22,0.49)), url('../../images/frontend/header-about.jpg');
	background-position: center;
	background-size:cover;
}
.bg-imageURL-terms{
	background:  linear-gradient(rgba(22,22,22,0.49), rgba(22,22,22,0.49)), url('../../images/frontend/header-terms.jpg');
	background-position: center;
	background-size:cover;
}
.bg-imageURL-faqs{
	background:  linear-gradient(rgba(22,22,22,0.49), rgba(22,22,22,0.49)), url('../../images/frontend/header-faqs.jpg');
	background-position: center;
	background-size:cover;
}
.bg-imageURL-contact{
	background:  linear-gradient(rgba(22,22,22,0.49), rgba(22,22,22,0.49)), url('../../images/frontend/header-contact.jpg');
	background-position: center;
	background-size:cover;
}

/*ADMIN*/
div.admin-css img.jl-logo {
    max-width: 150px;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    color: #fff;
    background-color: #5a5454;
    border-color: #333;
}
a.list-group-item.active:hover, a.list-group-item.active:focus {
	color: #f6960d;
}

div.admin-css div.logo > a > img {
    display: block;
    margin: 0 auto;
}

div.admin-css > div > div > div.col-sm-12 {
    display: flex;
    justify-content: center;
}

/*admin navbar*/
div.admin-navbar a > span {
    padding-left: 15px;

}
div.admin-navbar ul > li {
    border-right: 1px solid #00185e;
}
div.admin-navbar ul > li:last-child {
    border-right:0px;
}

div.admin-table-top {
	margin-bottom:30px;
}

div.admin-table-top > span {
margin-bottom:20px;
}
div.admin-table-top > span input{
	border-radius: 3px;
	padding:10px 15px 10px 20px !important;
}
div.admin-table-top > span input#filter {
    border-left: 1px solid #C1DAD7;
}

.jl-buttonAdd {
	padding:10px 20px;
	background-color: #0d2877;
	border:1px solid #00185e;
	border-radius: 3px;
    color:#fff;
    transition: 0.2s;
}
.jl-buttonAdd > span {
    font-family: "Roboto",sans-serif;
}

.jl-buttonAdd > a{
color:#fff;
}
.jl-buttonAdd:hover, .jl-buttonAdd > a:hover{
color:#f6960d;
transition: 0.2s;
}
.jl-buttonAdd > a i.fa-plus{
	padding-right:10px;
}

.jl-btn-orange {
background-color:#0d2877;
border-color:#0d2877;
}
.jl-btn-orange:hover{
	background-color:#0d2877;
	border-color:#0d2877;
	color:#f6960d;
}

.modal-footer {
    padding:15px 20px ;
}

.popup {
    border: 0px !important;
}

input.ed, select.ed, textarea.ed {
    width: 100%;
    border:1px solid #ccc;
    padding:10px;
    margin-bottom:15px;

}

table#resultTable button {
    width: 85px;
    margin-bottom: 5px;
}


/*facebox*/
.ed{
border-style:solid;
border-width:thin;
border-color:#00CCFF;
padding:5px;
margin-bottom: 4px;
}

#button1, .button1 {
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: #00185e;
    padding: 10px 35px;
    background-color: #0d2877;
    border-radius: 3px;
    color: #ffffff;
    transition: 0.2s
}
#button1:hover, .button1:hover {
	color: #f6960d;
	transition: 0.2s
}

.close{
    opacity: 0.7 !important;
    filter: alpha(opacity=0.7);
}
.close:hover, .close:focus {
    opacity: 1 !important;
    filter: alpha(opacity=100);
}

.user_info input, select, textarea {
    background: #fff;
}
/*end of facebox*/


.header-bottom.navbar.navbar-inverse.admin-navbar {
    margin-bottom: 30px;
}

.left-sidebar h2, .brands_products h2 {
    margin-top: 20px;
}

/*END OF ADMIN*/

/*maintenance-about*/
#resultTable th.sortable, #resultTable td,#resultTable td.odd {
    font-size:14px;
    padding:10px 10px;
    line-height: 1.6;
    color:#333;
    font-family: "Arial";
}



/*admin footer*/
.admin-footer {
	margin-top:40px;

}
/*end of admin footer*/



/* - - - MEDIA QUERIES - - - */
@media (min-width: 769px){
/*centers header navigation*/
div.header-bottom.navbar.navbar-inverse > div {
    display: flex;
    justify-content: center;
}
}

@media (min-width: 768px){
.navbar {
    border-radius: 0px;
}
.jl-vertical-center {
    display:flex;
    align-items:center;
}

}

/*mobile*/
@media screen and (max-width: 768px){
.navbar-collapse {
    max-height: none;
}
ul.nav.navbar-nav >li {
    padding-left: 15px;
    padding-right: 15px;
}
div.header-middle > div > div > div > div.logo {
    justify-content: center;
    display: flex;
}
.search_box {
    margin: 15px 0px 0px 0px;
}

}
